data/**/*
data_backup/
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.bbl
*.bcf
*.blg
*.run.xml
*.toc

!data/mpd/data/mpd.slice.0-999.json
cuda-repo-wsl-ubuntu-12-0-local_12.0.0-1_amd64.deb
cudnn-local-repo-ubuntu2204-8.7.0.84_1.0-1_amd64.deb
wget-log

secrets.txt