* {
  padding: 0 0;
  margin: 0 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  font-size: 16px;
  background-image: url(https://images.pexels.com/photos/210764/pexels-photo-210764.jpeg);
  background-size: cover;
}

#app {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
  min-width: 100vw;
  color: white;
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

a, header h1 {
  color: #BCC6FF;
  transition: all 0.25s ease;
}
a:hover, #banner:hover h1{
  color: #0096FF;
}

/* lightblue: BCC6FF
purple: BF00FF
blue: 0096FF */